/* COLORS */
$color-wine: #752f37;
$color-green: #2f726a;
$color-gray-light-1: #f7f7f7;
$color-gray-med: #aaaaaa;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;



/* GRID */

$grid-width:114rem;
$gutter-vertical: 8rem; //spaces
$gutter-horizontal: 3rem; //spaces
